@import "./assets/sass/index";
@import "./components/index";
@import "./pages/index";
* {
  @include startSettings;
}
.app {
  min-height: 100vh;
  .navbar {
    @include flex(row, space-between, center);
    padding: 2rem 30%;
    height: fit-content;
    background-color: #ffdc73;

    @include media($sm) {
      padding: 2rem 0.1rem;
      @include grid(50% 50%);
      a {
        font-size: 1rem;
        text-align: center;
      }
    }
    a {
      font-size: 1.4rem;
      text-decoration: none;
      color: #000;
    }
  }
}
